
.flex{
    display: flex;
}
.menu{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex; 
}
.menu li{
    list-style: none;
    margin: 20px 20px 50px 20px;
}
.menu a{
    color: #4A54A0;
    text-decoration: none;
    font-weight: bold;
    transition: font-size 0.5s;
}
.menu a:hover{
    font-size: 18px;
}
.logo{
    width: 140px;
    height: 70px;
    margin: 20px;
    transition: width 0.5s;
    cursor: pointer;
}
.logo:hover{
    width: 145px;
}
.titulo{
    margin-top: 50px;
    margin-left: 50px;
    color: #4A54A0;
}
.titulo h4{
    color: #EC6781;
}
.container{
    align-items: center;
    justify-content: center;
}
.produto{
    max-width: 80%;
    width: 400px;
    height: 400px;
    margin: 50px 0px 0px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
.sobre-produto1{
    position: relative;
    background-color: #8f3043;
    padding: 20px;
    margin-top: 230px;
    border-radius: 0px 0px 20px 20px;
    z-index: 1;
}
.sobre-produto{
    background-color: #8f3043;
    padding: 20px;
    margin-top: 230px;
    border-radius: 0px 0px 20px 20px;
}
.t1{
    font-weight: 700;
    color: #fff;
}
.t2{
    font-weight: 100;
    color: #fff;
}
.link{
    color: #fff;
    text-decoration: none;
    transition: font-size 0.5s;
}
.link:hover{
    font-size: 16px;
    font-weight: 600;
}
.prod1{
    background-image: url('../../assets/balanca.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
.prod2{
    background-image: url('../../assets/sanfona.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
.prod1 .sobre-produto1 {
    opacity: 1;
    transition: opacity 0s;
  }
  
  .prod1:hover .sobre-produto1 {    
    transform: translateY(-50%);
    transition: transform 0.5s;
  }
  
  .prod1 .sobre-produto {
    opacity: 0;
    transition: opacity 0s;
  }
  
  .prod1:hover .sobre-produto {
    opacity: 1;
    transform: translateY(-300%);
    transition: transform 0s;
  }
  .prod2 .sobre-produto1 {
    opacity: 1;
    transition: opacity 0s;
  }
  
  .prod2:hover .sobre-produto1 {
    transform: translateY(-50%);
    transition: transform 0.5s;
  }
  
  .prod2 .sobre-produto {
    opacity: 0;
    transition: opacity 0s;
  }
  
  .prod2:hover .sobre-produto {
    opacity: 1;
    transform: translateY(-300%);
    transition: transform 0s;
  }
.frase{
    margin: 10px auto; 
    margin-bottom: 0px;      
    width: 400px;
    text-align: center;
}