/* inicio */
.inicio-sobre{
    /* background-image: url('../../assets/fundo1.jpg');
    background-size: cover; */
    margin: 0 auto;
    /* text-align: center;
    display: flex; */
  }
  .inicio-sobre img{
    width: 100%;
  
  }
  
  /* sobre */
  .sobre-mim{
    display: flex;
    background-color: #fff;
    padding: 30px;
    justify-content: center;
    align-items: center;
   }
   .sobre-mim img{
    width: 250px;
    height: 350px;
    margin-bottom: 20px;
    margin-right: 20px;
   }
  
  /* livro */
  .livro{
    display: flex;
    background-color: #E6DFD2;
    padding: 100px;
  }
  .livro img{
    width: 200px;
    margin: 10px auto;
  
  }
  .descr-livro{
    margin: 30px;
    text-align: justify;
  }
  @media screen and (max-width: 640px) {
    .livro{
      padding: 50px;
    }
    .livro img{
      width: 120px;
  
    
    }
    
  }
  @media screen and (max-width: 530px) {
    .livro{
      padding: 0px;
    }
    .livro img{
      width: 100px;
      margin: 10px;
    
    }
    
  }
  @media screen and (max-width: 400px) {
    .livro{
      display: block;
      padding: 20px;
      margin: 0 auto;
      text-align: center;
    }
    .livro img{
      width: 100px;
  
    
    }
    
  }
  
  /* meus cursos */
  .meuscursos{
      background-color: #6B6969;
      color: #fff;
      display: flex;
      align-items: center;
      margin: 0 auto;
      justify-content: space-between;
      width: 90%;
      max-width: 600px;
      padding: 30px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .meuscursos a{
      color: #fff;
      font-size: 25px;
  }
  h3{
      text-align: center;
      margin: 0 auto;
      font-size: 16px;
      margin-bottom: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .meuscursos{
      max-width: 300px;
      padding: 20px;
    }
    
  }