.img-eu{
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    display: flex;
}
.div-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 20px;
    border-radius: 30px;
    max-width: 80%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.sobre-mim{
    padding: 30px;
    text-align: justify;
    font-weight: 800;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}
.sobre-mim a{
    color: #EC6781;
}
.sobre-mim a:hover{
    color: #c695ff;
}
.footer{
    background-color: #332840;
    padding: 30px;
    color: #c0bac6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
}
.footer-nome{
    margin-right: 40px;
    
}
.contato{
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.contato i{
    margin-right: 60px;
    font-size: 30px;
    color: #EC6781;
    transition: color 0.2s;
}
.contato i.bi-whatsapp:hover{
    color: #34c759;
}
.contato i.bi-instagram:hover{
    color: #8a3ab9;
}
.contato i.bi-envelope-at-fill:hover{
    color: #2196f3;
}
.contato i.bi-youtube:hover{
    color: #ff0000;
}

@media only screen and (max-width: 450px) {
    .contato i{
        margin-right: 30px;

    }
  }

